h1{
    text-align: center;
    font-family: 'Odibee Sans', cursive;
}
h2{
    font-family: 'Odibee Sans', cursive;
    text-align: center;
}
#capcalera{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Coda Caption', sans-serif;
    padding-bottom: 10px;
}
body {
    background: lavender;
}
nav{
    padding: 1px;
    margin: 15px;
}
#tot{
    border: 3px solid white;
}
.quadres{
    border: 3px solid white;
}
#informacio{
    display: flex;
    justify-content: space-between;
    background-color: pink;
    margin-top: 15px;
}
@media(max-width: 600px){
    .quadres{
        flex-direction: column;
        justify-content: center;
    }
}