h1{
    text-align: center;
    font-family: 'Odibee Sans', cursive;
}
h2{
    font-family: 'Odibee Sans', cursive;
    text-align: center;
}
body {
    background: lavender;
}
#capcalera{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Coda Caption', sans-serif;
    padding-bottom: 10px;
}
nav{
    padding: 1px;
    margin: 15px;
}
#informacio{
    display: flex;
    justify-content: space-between;
    background-color: pink;
    margin-top: 3%;
}
#contecta, div{
    margin: 7px;
    display: grid;
}
@media(max-width: 600px){
    h2{
        text-align: left;
    }
    #informacio{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        text-align: left;
    }
    #titol{
        text-align: center;
    }
}