h1{
    text-align: center;
    font-family: 'Odibee Sans', cursive;
}
h2{
    font-family: 'Odibee Sans', cursive;
}
body {
    background: lavender;
}
#capcalera{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Coda Caption', sans-serif;
    padding-bottom: 10px;
}
#introduccio{
    text-align: center;
    border: 5px solid white;
    background-image: url("../Imatges/FondoIndex.jpg");
}
.quadres{
    border: solid white;
}
ol{
    display: flex;
    justify-content: space-between;
    padding-left: 3px;
}
nav{
    padding: 1px;
    margin: 15px;
}
.colores{
    color: black;
}
#informacio{
    display: flex;
    justify-content: space-between;
    background-color: pink;
}
.fotos {
    height: 338px;
    width: 100%;
    border-radius: 7px;
}
@media(max-width: 600px) {
    ol {
        flex-direction: column;
        justify-content: center;
    }
    #introduccio {
        height: 750px;
        overflow: scroll;
    }
    .quadres{
        border: solid;
        display: flex;
        flex-wrap: wrap;
    }
    #informacio{
        display: flex;
        flex-wrap: wrap;
    }
    .fotos {
        width: 100%;
        height: 100%;
    }
}