h1{
    text-align: center;
    font-family: 'Odibee Sans', cursive;
}
h2{
    font-family: 'Odibee Sans', cursive;
    text-align: center;
}
body {
    background: lavender;
}
#capcalera{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Coda Caption', sans-serif;
    padding-bottom: 10px;
}
.quadres{
    border: 3px solid white;
}
ol{
    display: flex;
    justify-content: space-between;
    padding-left: 3px;
}
nav{
    padding: 1px;
    margin: 15px;
}
.colores{
    color: black;
}
#informacio{
    display: flex;
    justify-content: space-between;
    background-color: pink;
}
.fotos {
    height: 338px;
    border-radius: 7px;
}
@media(max-width: 600px){
    ol{
        flex-direction: column;
        justify-content: center;
    }
    h2{
        justify-content: center;
    }
    .quadres{
        border: solid;
        display: flex;
        flex-wrap: wrap;
    }
    .fotos{
        height: 100%;
        width: 100%;
    }
    #informacio{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
}